@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
  height: 100%;
}
body {
  padding: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  color: #444;
  line-height: 1.5em;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  background: #f3f3f3;
}
#bg-wrapper {
  min-height: 70vh;
}
#home {
  background: #fff;
  padding: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  color: #444;
  line-height: 1.5em;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  background: #f3f3f3;  
}
:root {
  --pri-color:#19334d;
  --sec-color:#e34b3b;
}
* {
  box-sizing: border-box;
}
button {
  font-family: 'Raleway', sans-serif;
}
header {
  font-size: 17px;
}
.nav-container {
  margin: 0;
  padding: 0;
  background: #fff;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 70px;
  width: 100%;
}
#nav-icon, #nav-icon-home {
  position:absolute;
  top:20px;
  right:20px;
  color: #fff;
  font-size:25px;
  cursor:pointer;
  padding-right: .5em;
}
.brand-icon {
  width: 31%;
  margin-top: 0px;
}
.logo {
  padding: 0px;
  margin-top: 0px;
  z-index: 4;
  text-align: center;

}
.logo-img {
  margin: 0px;
  padding: 0px;
  max-width: 240px;
}
.navbar {
  padding:0;
  background-color:#fff;
  position:fixed;
  top:0;
  right:0;
  text-align:right;
  width:68%;
}
div[data-view="home"] {
  padding-right: 8em;
}
#home-nav.nav-container {
  box-shadow: 0 8px 6px -6px black;
}
.navbar a {
  display:inline-block;
  text-decoration:none;
  color:#fff ;
  margin: 0px;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 22px 15px;
  text-transform: uppercase;
}
.navbar a:hover {
  font-weight: bold;
}
div[data-view="home"] a {
  color:var(--pri-color);
}
div[data-view="home"] a:hover {
  font-weight: bold;
}
#login-nav {
  background: var(--sec-color);
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
}
#user-profile {
  text-align: center;
  padding: 0px;
  display: inline-block;
}
#user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 15px;
  margin: 0 auto;
}
#user-name {
  margin-bottom: 0px;
  margin-top: 7px;
  display: block;
  font-size: 10px;
}
#user-profile:hover {
  font-weight: normal;
}
#msg-count {
  background-color: var(--sec-color);
  position: relative;
  color: #f5f5f5;
  top: 20px;
  right: 5px;
  display: inline-block;
  margin:0;
  padding:1px;
  height: 20px;
  width: 20px;
  font-size: 12px;
  border-radius: 50%;
}
#background {
  height:40em;
  top:0px;
  left:0px;
  width:100%;
  background:linear-gradient(
        rgba(25, 51, 77, 0.82),
        rgba(25, 51, 77, 0.82)),
          url("~./img/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.header-text {
  text-align: center;
  padding-top: 1em ;
  color: #eee;
  margin-top: 60px;
  font-family: 'Raleway', sans-serif;
}
.banner-header {
  font-size: 60px;
  padding: 0 2em;
  line-height: 2em;
  margin-bottom: 0px;
}
.sub-text {
  font-size: 30px;
  margin-top: 10px;
}
#buttons {
  margin: 30px 0px;
  text-align: center;
}
.start-btn {
  text-decoration: none;
  color: white;
  font-weight: normal;
  letter-spacing: 2px;
  width: 190px;
  padding: .8em 2em;
  background: var(--sec-color);
  border: solid 2px var(--sec-color);
  border-radius: 3px;
  display: block;
  margin: 30px 10px;
  display: inline-block;
}
.start-btn:hover {
  background: var(--sec-color);
  border: solid 2px var(--sec-color);
}
.transparent {
  background: transparent;
  border: solid white 2px;
}
a {
  color: var(--sec-color);
  text-decoration: none;
}
.sign-link {
  color: var(--sec-color);
  font-size: 15px;
  text-decoration: none;
}


/*ABOUT SECTION*/
#about {
  padding: 3em 4%;
  margin-top: 100px;
  font-size: 15px;
}
.about-text {
  text-align: center;
  padding: 0em 17em;
}
.about-text h2 {
  font-size: 30px;
  font-weight: normal;
}
.about-row {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding:0px;
}
.about-item {
  width:400px;
  text-align: center;
  padding: 1em 2em;
  margin: 0px auto 20px auto;
}
.about-item .fa {
  color: var(--sec-color);
  font-size: 30px;
  border-radius: 50%;
  padding: .2em;
}
.about-item h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
}


@media screen and (max-width: 1000px) {
  div[data-view="home"] {
    padding-right: 4em;
  }
  .navbar a {
    padding: 22px 8px;
    margin: 0;
  }
  .logo-img {
    max-width: 200px;
  } 
  .banner-header {
    font-size: 50px;
    padding: 0 2em;
    line-height: 2em;
    margin-top: 70px;
  }
  .sub-text {
    font-size: 20px;
  }
  .start-btn {
    width: 150px;
    padding: .8em 1em;
  }
  #about {
    padding: 1em 0em;
  }
  .about-text {
    padding: 1em 10em;
  } 
}

@media screen and (max-width: 760px) {
  #background {
    height:35em;
  }
  .home.nav-container {
    box-shadow: 0 8px 6px -6px black;
  }
  div[data-view="home"] a, #login-nav {
    color:var(--pri-color);
    background: #fff;
    padding: 20px;
  }
  #login-nav {
    border-radius: 0px;
  }
  div[data-view="home"] a:hover, #login-nav:hover {
    color:#fff;
    background: var(--pri-color);
  }
  div[data-view="home"] {
    padding-right: 0;
  } 
 .banner-header {
    margin-top: 50px;
    padding: 0 .7em;
  }
  .start-btn {
    padding: .9em 0;
  }  
  .brand-icon {
    width: 100%;
    padding: 5px 0;
  }
  .logo {
    padding: 0px;
    padding-left: 5%;
    margin-top: 0px;
    text-align: left;
  }
  .logo-img {
    max-width: 160px;
  }  
  #nav-icon-home {
    color: var(--pri-color);
    font-size: 25px;
  }
  .nav-container {
    background: #fff;
    height: 60px;
  }
  div[data-view="home"] {
    text-align: center;
  }
  .navbar {
    margin-top: 60px;
    text-align:center;
    width:80%;
    transform: translateX(-130%);
  }
  .responsive {
    transition:transform 0.6s ease;
  }
  .open {
    transform: translateX(-30%);
  }
  .navbar a {
    display:block;
    text-decoration:none;
    padding: 20px;
    color:#eee;
    background: #043565;
  }
  .navbar a:hover {
    background: white;
    color: #043565;
  }
  #user-img {
    top: 0px;
  }
  #msg-count {
    top: 0px;
  }
  #about {
    font-size: 14px;
  }
  .about-text {
    padding: 0em 6em;
  }
  .about-text h2 {
    margin-top: 0px;
  }  
  .about-row {
    flex-direction: column;
  }
  .about-item {
    width:100%;
    padding: 0px 4em;
    margin:15px auto;
  }
  .about-item h3 {
    margin: 5px auto;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .banner-header {
    margin-top: 50px;
    padding: 0 .5em;
    font-size: 32px;
  }
  .sub-text {
    font-size: 17px;
  }
  .start-btn {
    width:120px;
    margin: 20px 5px;
    padding:.7em 0;   
  }
  .about-text {
    margin-top: 20px;
    padding: 2em 2.5em;
  }  
  .about-item {
    padding:0px 1.7em;
  }
}



/*SIGN UP/ SIGN IN */
#page-nav {
  background: #043565;
  color: #eee;
}
#page-nav .navbar a {
  text-transform: uppercase;
}
div[data-view="page"] {
  padding-right: 2em;
  background: inherit;
}
.container {
  max-width: 550px;
  margin: 130px auto 80px auto;
  padding: 30px 40px 20px 40px;
  background: white;
}
form .label {
  margin-bottom: 5px;
  color: #32669a;
}
form h3 {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}
form .label .fa {
  font-size: 11px;
  color: var(--sec-color);
  margin-left: 10px;
}
#form-feedback {
  padding-left: 0px;
  margin-left: 0px;
  padding: 5px;
}
#form-feedback.success {
  display: block;
  background: #daf1e7;
  color: #36966c;
}
#form-feedback.error {
  color: #8a0f0f;
  font-size: 15px;
}
.error {
  color: #8a0f0f;
  font-size: 12px;
}
form input {
  width: 100%;
  padding: 10px ;
  margin-bottom: 10px;
  border: solid 1px #32669a;
  border-radius: 3px;
  color: inherit;
}
input[type="file"] {
  border: none;
}
::placeholder {
  color: #999;
}
button[type="submit"] {
  margin: 40px 0;
  margin-bottom: 20px;
  width: 100%;
  padding: 14px 0;
  background: var(--sec-color);
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

button[type="submit"]:hover {
  opacity: 0.9;
}
button[type="submit"]:focus {
  outline: none;
}

#image-preview {
  width: 150px;
  border: none;
}
#footer {
  margin-top: 50px;
  padding:4em 2em ;
  width: 100%;
  font-size: 13px;
  line-height: 2em;
  background-color: #222;
  color:#ddd;
  text-align:center;
  clear: both;
  position: absolute;
}
#footer h4 {
  margin:0px;
}
  
@media screen and (max-width: 900px) {
  div[data-view="page"] {
    padding-right: 20px;
  }
  #page-nav .navbar a:not(:last-child) {
    padding: 22px 5px;
  }
}

@media screen and (max-width: 760px) {
  .container {
    margin: 100px auto 0px auto;
  }
  div[data-view="page"] {
    padding-right: 0;
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.6);    
  }
  #page-nav .navbar a {
    font-size: 13px;
  }  
  #login-form input {
    width: 100%;
  }
  button[type="submit"] {
    width: 100%;
  }
  #user-profile {
    width: 100%;
    padding: 10px auto;
  } 
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px 30px;
  }
}


/* VIEW INBOX */
#inbox, #view-message {
  background: #fff;
}
#loader {
  padding: 0px auto;
}
#feedback {
  font-size: 20px;
  font-weight: lighter;
  color: #999;
  text-align: center;
}
.msg-header {
  text-align: center;
  padding: 1em 0;
  margin: 110px auto 25px auto;
  font-weight: normal;
  font-size: 30px;
}
.main-container {
  display: flex;
  flex-direction: row;
  padding: 0 10em;
  line-height: 1.5em;
}
.messages-nav {
  flex: 1;
  min-width: 270px;
  margin:0 50px 30px 0;  
  display: flex;
  flex-direction: column;
}
#btn-wrapper {
  display: none;
}
#compose-btn, #create-group-btn {
  background: var(--sec-color);
  text-align: center;
  padding:10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #f5f5f5;
  margin-bottom: 40px;
  margin-top: 0px;
}
.fa-plus {
  margin-left: 10px;
  border: solid 1px #f5f5f5;
  padding: 5px 7px;
  border-radius: 50%;
}
.messages-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;  
}
.messages-nav li {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  width: 100%;
  color: #555;
  cursor: pointer;
  border-bottom: solid #e5e5e5 2px;
}
.messages-nav li.active {
  color: var(--sec-color);
  font-weight: bold;
}
.messages-nav ul .fa {
  padding: 0 10px;
}
.message-wrapper {
  flex: 3;
}
.hide {
  display: none;
}
.message-container {
  min-height: 250px;
  width: 100%;
}
.message {
  padding: 15px 17px;
  width: 100%;
  margin-bottom: 10px; 
  color: #666;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  transition: opacity .3s ease;
  display: flex;
  flex-direction:row;
}
.message-img {
  width: 100px;
  min-width: 100px;
}
.message-img img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display:block;
  margin:0 auto;
}
.message-text {
  margin-left: 5%;
  width: 80%;
}
.msg-excerpt {
  margin: 7px 0;
}
.fadeout {
  opacity: 0;
}
.message h3, h4 {
  margin: 0px 0;
}
.message-title {
  font-size: 16px;
  cursor: pointer;
}
.message h4 a {
  margin-top: 0px;
  cursor: pointer;
  color:  #555;
  font-weight: bold;
}
.message-title.unread {
  color:  #0866c4;
  font-weight: bold;
}
.message-excerpt {
  margin: 0;
}
.msg-status {
  font-weight: bold;
}
.status-unread {
  color: #2c97df;
}
.status-read {
  color:var(--sec-color);
}
.status-sent {
  color: #00b300;
}
.status-draft {
  color: #a428a2;
}
.msg-details {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  margin-top: 10px;
}
.msg-details p {
  width: 49%;
  margin: 0;
}
.msg-buttons {
  width: 49%;
  font-size: 22px;
  color: var(--sec-color);
  margin:0;
  margin-left: 38%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
}
.msg-buttons i {
  text-align: center;
  cursor: pointer;
  padding:0 5px;
  margin-right:10px;
  font-size: 18px;
}
.msg-buttons i:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .main-container {
    padding: 0 2em;
  }
}

@media screen and (max-width: 760px) {
  .main-container {
    flex-direction: column;
  }
  .msg-header {
    font-size: 25px;
    margin-top: 80px;
  }
  .messages {
    padding: 20px 0;
  }
  .messages-nav {
    width: 100%;
    margin-top: -20px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0px;
    margin-right: 0px;
  }
  #compose-btn {
    width: 170px;
    order: 1;
    margin-bottom: 0px;
  }
  #nav-wrapper {
    order: -1;
    width: 40%;
    min-width: 210px;
    height: 46px;
    overflow: hidden;
    transition: 0.5s ease;
    border: solid #e5e5e5 1px;
  }
  #btn-wrapper {
    display: block;
    height: 30px;
    width: 30px;
    float: right;
  }
  #inbox-nav-btn {
    padding: 10px 5px 5px 5px;
    font-size: 20px;
    cursor: pointer;
    color: var(--sec-color);
  }
  .messages-nav ul {
    width: 85%;
  }
  .messages-nav li {
    text-align: left;
    border: none;
    font-weight: normal;
  }
  .messages-nav li.active {
    font-weight: normal;
}
  .messages-nav ul .fa {
    width: 100%;
    display: inline-block;
    width: 40px;
  }
}


@media screen and (max-width: 600px) {
  .messages-nav ul {
    width: 80%;
  }
  #nav-wrapper {
    min-width: 160px;
  }
  #compose-btn {
    width: 130px;
    padding: 10px;
  }
  .message-img img {
    width: 75px;
    height: 75px;
  }
}


/*VIEW MESSAGE*/
.group.view {
  margin-bottom: 40px;
  width: 64%;
}
.sent {
  margin-left: 35%;
}
.received {
  margin-right: 35%;
}

@media screen and (max-width: 660px) {
  .group.view {
    margin-bottom: 40px;
    width: 100%;
  }
  .sent, .received {
    margin-right: 0;
    margin-left: 0;
  }  
}

@media screen and (max-width: 500px) {
  .main-container {
    padding: 0 1.5em;
  }
  .messages-nav li {
    padding:10px 0;
  }
}

/*CREATE MESSAGE*/
textarea {
  width: 100%;
  padding: 10px;
}
#select-group {
  padding: 7px 10px;
  width: 60%;
  margin-bottom: 10px;
}
#save-draft, #send-message {
  display: inline-block;
  width: 48%;
}
#save-draft {
  margin-right: 2.5%;
}

/*ALL GROUPS */

.group {
  padding: 15px 17px;
  width: 100%;
  margin-bottom: 10px; 
  color: #666;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  transition: opacity .3s ease;
}


/*CREATE GROUP */
#members-container {
  height: 200px;
  overflow-y: scroll;
  border-radius: 2px;
}
#create-group-form input[type="checkbox"] {
  width: 20px;
}

/* VIEW GROUP */

#msg-body {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}
#group-features {
  width: 47%;
  margin-right: 7%;
}
#send-msg-group-btn {
  background: var(--sec-color);
  text-align: center;
  padding:10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #f5f5f5;
  margin-bottom: 40px;
  margin-top: 0px;
  width: 100%;
}
#member-container {
  width: 45%;
}
.member-list-wrapper {
  height: 200px;
  overflow-y: scroll;
}
#add-member-form {
  overflow-y: hidden;
  padding: 0px;
  height: 80px;
  transition: 0.4s ease;
}
#group-feedback {
  font-size: 14px;
  font-weight: lighter;
  color: #999;
  padding: 7px;
  text-align: center;
}
#group-feedback.success {
  display: block;
  background: #daf1e7;
  color: #36966c;
}
#group-feedback.fail {
  display: block;
  background: #f9d2d2;
  color: #8a0f0f;
}
.member-feedback {
  font-size: 18px;
  font-weight: lighter;
  color: #999;
  padding: 7px;
  text-align: center;
}
#add-member-header {
  margin: 15px 0 10px 0px;
  display: inline-block;
  width: 100%;
  border: solid #dedede 2px;
}
#member-head {
  width: 50%;
  display: inline-block;
  font-size: 15px;
  padding-left: 20px;
}
#show-member-btn {
  color:var(--sec-color);
  cursor: pointer;
  display: inline-block;
  margin-left: 40%;
  font-size: 20px;
}

.member-list-wrapper input {
  width: 40px;
}
#group-member-list-head {
  font-size: 16px;
  margin-top: 0px;
}
.group-container {
  padding: 20px 30px;
  width: 100%;
  margin-bottom: 10px; 
  color: #666;
  background: white;
  border-radius: 5px;
}
.group-container h3, .group-container h4 {
  font-weight: normal;
  font-size: 20px;
}
.group-members h4 {
  margin-top: 30px;
  font-size: 17px;
}
.member {
  width: 92%;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  transition: opacity .3s ease;
}
.member span {
  width: 50%;
  margin-top: 3px;
}
.member i {
  text-align: right;
  font-size: 18px;
  color: var(--sec-color);
  width: 50%;
  margin: 5px;
  cursor: pointer;
}
.group-controls {
  margin-top: 50px;
  padding-right: 40px;
  width: 100%;
  text-align: right;
}
.group-controls p {
  display: inline-block;
  margin-left: 20px;
  color: var(--sec-color);
  cursor: pointer;
}
.group-controls p:hover {
  font-weight: bold;
}

@media screen and (max-width: 760px) {
  #send-msg-group-btn {
    margin-bottom: 20px;
  }
  #msg-body {
    flex-direction: column;
    margin-top: 30px;
  }
  #group-features {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 40px;
  }

  #member-container {
    width: 100%;
  }
  .member {
    width: 100%;
  }
  .group-controls {
    padding-right: 0px;
  }
  #create-group-btn {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 600px) {
  .group-container {
    padding: 15px 20px;
  }  
}





.sk-wave {
  margin: 15px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }
  .sk-wave .sk-rect {
    background-color: var(--sec-color);
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
            animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
  .sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s; }
  .sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }






  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(203, 209, 205, 0.6);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.7);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.65s;
    z-index: 3;
  }
  .modal-content {
    color: #3873ad;
    position: absolute;
    background-color: white;
    left: 50%; 
    top: 50%;
    font-weight: bolder;
    font-size: 14px;
    transform: translate(-50%, -250%);
    padding: 18px 15px;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
    border-radius: 5px;
  }
  .modal-content p {
    margin: 0;
  }
  .show {
    visibility: visible;
    opacity: 1;
    transform: scale(1.0);
    transition: visibility 0s linear 0.25s, opacity 0.25s, transform 0.25s;
  } 